.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 48px;
  color: var(--brown);
  font-weight: 500;
}

.content {
  width: 100%;
  margin-top: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 64px;
  row-gap: 50px;
}
